* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* styles.css */

:root {
  --primary-color: #007bff; /* Blue */
  --secondary-color: #66cd8e; /* Light Sea Green */
  --tertiary-color: #4682b4; /* Steel Blue */
  --accent-color: #ffffff; /* White */
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

header {
  position: relative;
  top: -5px;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 150px 1fr;
  justify-items: flex-end;
  align-items: center;
  font-size: large;
  padding: 5px;
  color: var(--accent-color);
  background-color: var(--primary-color);
  backdrop-filter: blur(5px);
}
/* add animation */
header .toggle {
  justify-items: center;
}

#label {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
}
.button-search {
  background-color: var(--secondary-color);
  border: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.699);
  cursor: pointer;
}
.input-add {
  border: none;
  border-bottom: 2px solid;
  border-radius: 5px;
  width: 100px;
  background-color: rgba(247, 255, 252, 0.74);
}
.input-add:focus {
  outline: none;
  background-color: rgb(240, 233, 233);
}
.search {
  text-align: end;
  font-size: 10px;
  display: none;
  width: 100%;
}
.temperature {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 1fr;
}
.temp-deg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.temp-s-cards {
  list-style: none;
}
/* toggles */
.show {
  display: block;
}
.disappear {
  display: none;
}

@media (min-width: 768px) {
  .search {
    display: block;
  }
  .input-add {
    width: 30%;
    font-size: 1rem;
    text-align: center;
    padding: 2px;
  }

  .button-search {
    font-size: 16px;
  }
  #search_icon {
    display: none;
  }

  .temperature {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 1fr;
  }
}
